DATABASE_URL="postgresql://kls:kls@localhost:5432/kls?schema=public"
AUTH_SECRET="generate-a-32-character-secret"
AUTH_URL="http://localhost:3000"
FILE_STORAGE_DRIVER="local"
FILE_STORAGE_PATH="./uploads"
